html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset*/

html {
  font-size: 1vw;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}



h3 {
  font-size: 2rem;
  margin: 10px 0 0;
}

.app {
  margin: 1vw;
  font: 1.5rem sans-serif;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.page {
  font: 1rem sans-serif;
}

.user {
  padding: 2rem;
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  border: none;
  border-radius: 0.25rem;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  outline: 0;
  padding: 0 2rem;
  margin: 0.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #4d8cd0
}